*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.blog{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    top: 1rem;
    height: auto;
    margin-bottom: 120px;
}
.blog .box{
    position: relative;
    left: 60px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 60%;
    height: 9rem;
    background-color: #fff;
    gap: 20px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blog .box .date{
    font-size: 15px;
}
.blog .box .title{
    font-size: 20px;
}
.blog .box .R-but{
    font-size: 20px;

}
