:root{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-nav{
    width: 100%;
    height: 8rem;

}
.main{
    margin-top:3rem;
    display: flex;  
    width: 100%;
    height: 600px;
    background-color: white;
    z-index: -20;
}
.main .left{
    margin-left: 20px;
    border: 10px solid purple;
    width: 60%;
    border-radius: 10px;


}
.main .right{
    width: 40%;
    height: 600px;
    background-color: white;
}

.low-nav{
    padding: 20px;
    width: 100%;
    height: 60px;
}
.low-nav nav{
    float: left;
}
.low-nav nav ul{
    display: inline-flex;
}
.low-nav nav ul li{
   list-style: none;
   margin-right: 1rem;
}
.low-nav nav ul li button{
    background-color: white;
    line-height: 1rem;
    border:none;
    font-size: 1.2rem;
    color: #7E22CE;
    padding-bottom: 10px;
}

.low-nav nav ul li button:hover{
    border-bottom: 3px solid #7E22CE ; 
}
.right {
    float: right;
    padding: 0px 45px 0px 40px;
    width: 40%;
    height: 600px;
    overflow-y: scroll;
}
.right .content {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 80px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content .inner{
    width: 500px;
    height: 80px;
    padding: 2px;
}
.content .inner button{
    border-radius: 8px;
    background-color: white;
    font-size: 20px;
    border: none;
    color: purple;
    height: 4rem;
    text-decoration: none;
  }
